
body {
font-family: 'Montserrat', sans-serif;
margin: 0;
text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bolder;
}

p {
  color: #8f8f8f;
}


/* Headings */

.big-heading {
  font-weight: bolder;
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}


/* Title Section */

#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

.container-fluid {
  padding: 7% 15%;
}



.title {
  color: #FFF;
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.5;
}

/* Sections */

.color-section {
  color: #FFF;
  background-color: #ff4c68;

}

.white-section {
  background-color: #FFF;
}



/* Navigation Bar */

.navbar {
  padding: 2rem 0 4.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}


/* Download Buttons */

.apple-download {
  margin: 5% 3% 5% 0;
}

.android-download {
  margin: 5% 3% 5% 0;
}

/* Jumbotron Right Container */

.jumbotron-img {
  width: 60%;
  position: absolute;
  right: 20%;
  transform: rotate(25deg);
}

/* Features Section */

#features {
  position: relative;
}

.feature-box {
  padding: 4%;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.feature-icon:hover {
  color: #ff4c68;
}


/* Testimonials Section */

#testimonials {
  background-color: #ef8172;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}


/* Press Section */

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  margin: 20px 20px 50px;
  width: 15%;
}


/* Pricing Section */

#pricing {
  padding: 100px;
}

.pricing-col {
  padding: 3% 2%;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}


/* Footer */

.social-icon {
  padding: 20px 10px;
}




@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .jumbotron-img {
    transform: rotate(0deg);
  }
}
